/* Various CSS codes were referenced from the W3Schools CSS Reference Sheet https://www.w3schools.com/cssref/default.asp */

body {
    background-color: #ffffff;
    background-image: url('../images/deco/top.png');
    background-repeat: repeat-x;
}

header {
    margin: auto;
    padding: 10px;
    text-align: center;

}

header img {
    max-width: 500px;
    width: 50%;
}

/* These properties were coded for the navigation below the site logo */

nav {
    text-align: center;
    background-color: #d8d8d8;
    height: 5%;
    padding: 12px;
    background-image: url('../images/deco/overlay.png');
    background-repeat: repeat-x;
}

nav a:link, a:visited {
    color: #595757;
    font-family: Arial;
    font-size: 13pt;
    padding: 12px;
    font-weight: 600;
    text-transform:uppercase;   
    text-decoration:none;
    margin-left: 5px;
    margin-right: 5px;
}

/* Transition code retrieved from https://www.w3schools.com/css/css3_transitions.asp */

nav a:hover {
    background-color: #77599f;
    background-image: url('../images/deco/overlay.png');
    color: #ffffff;
    transition-duration: 0.5s;
}

article {
    font-family: Arial;
    font-size: 11pt;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

/* The div class below is used to limit the dimensions of the website's content*/

div.container {
    width: 85%;
    margin: auto;
}

/* The div class below was coded for the welcome message in the home page */

div.welcome {
    background-color: #d6ced9;
    background-image: url('../images/deco/overlay.png');
    background-repeat: repeat-x;
    width: 50%;
    max-width: 500px;
    padding: 10px;
    padding-bottom: 20px;
    margin: auto;
    margin-bottom: 2%;
    font-size: 13pt;
}

h1 {
    text-align: center;
    color: #645b68;
    font-family: Arial;
    font-weight: 600;
    font-size: 15pt;
    margin-bottom: 15px;
    margin-top: 10px;
}

h2 {
    text-align: center;
    color: #7e6da0;
    font-family: Arial;
    font-weight: 600;
    font-size: 13pt;
    margin-bottom: 15px;
    margin-top: 10px;
}

h3 {
    text-align: center;
    color: #7e6da0;
    font-family: Arial;
    font-weight: 600;
    font-size: 12pt;
    margin-bottom: 5px;
    margin-top: 5px;
}


a:link, a:visited {
    color: #d5467c;
    text-decoration: none;
}

a:hover {
    color: #4085e2;
    text-decoration: underline;
}

p {
    margin: 2px;
    padding: 15px;
}

b {
    font-weight: 700;
}

/* Below are codes related to the footer */

footer {
    text-align: center;
    background-color: #d8d8d8;
    background-image: url('../images/deco/overlay.png');
    background-repeat: repeat-x;
    margin-top: 25px;
    padding: 15px;
    padding-bottom: 50px;
    height: 150px;
    font-family: Arial;
    font-size: 10pt;
    color: #4d4d4d;
    overflow: hidden;
}

footer a:link, a:visited {
    color: #3d3d3d;
    text-decoration: none;
    font-weight:bold;
}

footer a:hover {
    color: #817698;
}

div.f-mid {
    padding-top: 50px;
    
}

div.f-left {
    float: left;
    padding-left: 10%;
}


div.f-right {
    float: right;
    padding-right: 10%;
}


/* Below are the display elements for the products in the home page */

div.products {
    overflow: hidden;
    width: 75%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

div.pro {
    background-image: url('../images/deco/overlay.png');
    background-repeat: repeat-x;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 3px #b5b5b5;
    float: left;
    width: 300px;
    height: 450px;
    margin: 10px;
    padding: 15px;
}

div.pro img {
    max-height: 280px;
    transition-duration: 0.5s;
}

div.pro a {
    font-weight: 600;
    font-size: 10pt;
}

div.pro a:hover {
    color: #b251e5;
    opacity: 0.7;
    text-decoration: none;
}

/* This label indicates the figure's series of origin */
div.series {
    color: #c32d62;
    font-weight: 700;
    font-size: 10pt;

}

/* This label indicates the figure's manufacturer */
div.manufacturer {
    color: #3180d9;
    font-weight: 600;
    font-size: 10pt;
    margin-bottom: 15px;
}

div.price {
    font-weight: 600;
    color: #717171;
    font-size: 13pt;
    margin: 10px;
    float: right;
}

/* Below are button indicators to indicate item-stock in the homepage */
/* Button codes referenced from https://www.w3schools.com/css/css3_buttons.asp  */

button {
    background-color: #df5586;
    box-shadow: 0px 0px 5px #bfbfbf;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 10px 30px;
    margin-bottom: 5px;
    border-radius: 5%;
}

    /* "Pre-Order" tag */
button.po {
    background-color: #df5586;
}

    /* "New Arrival" tag */
button.na {
    background-color: #4f8ee8;
}

    /* "In-Stock" tag */
button.is {
    background-color: #be8ddb;
}

    /* "Out-of-Stock" tag */
button.oos {
    background-color: #8c3c44;
}

    /* "Add to Cart" button*/
button.atc {
    background-image: url('../images/deco/overlay.png');
    background-color: #5e5e5e;
    float: right;
}

button.atc:hover {
    background-color: #8e8d8e;
}

    /* "Backorder" button*/
button.bo {
    background-image: url('../images/deco/overlay.png');
    background-color: #866161;
    float: right;
}

button.bo:hover {
    background-color: #c8a8a8;
}

/* Below are properties related to the contact page */
/* Codes referenced from https://www.w3schools.com/howto/howto_css_contact_form.asp */

div.contact {
    text-align: center;
    margin: auto;
    width: 70%;
    overflow: hidden;
}
div.contact p {
    padding: 2px;
}

div.contactform {
    width: 60%;
    float: left;
    position: static;
    background-color: #ffffff;

}

div.info {
    float: right;
    width: 40%;
    position: static;
}

input[type=text], [type=Email], textarea{
    width: 400px;
    height: 40px;
    background-color: #d8d8d8;
    font-family: Arial;
    font-size: 110%;
    border: none;
    box-shadow: 0px 0px 10px #d8d8d8;
    padding: 5px;
}


input[type=button]{
    height: 50px;
    width: 125px;
    text-align: center;
    margin: auto;
    background-color: black;
}

div.submit {
    margin: auto;
    text-align: center;
}